<!DOCTYPE html>
<head>
  <title>Senha incorreta</title>
  <script>
    confirm("Senha incorreta")
    
    // redireciona de volta para a página da sala
    window.location.replace("/room/<%= roomId %>")
  </script>
</head>
</html>